<link rel="stylesheet" type="text/css" href="../styles/cart.css">
<link rel="stylesheet" type="text/css" href="../styles/cart_responsive.css">
<div class="super_container">
	
	<!-- Header -->





	

	<!-- Home -->

	{{!-- <div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src=" " data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_container">
						<div class="home_content">
							<div class="home_title">Shopping Cart</div>
							<div class="breadcrumbs">
								<ul>
									<li><a href="index.html">Home</a></li>
									<li>Shopping Cart</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> --}}

	<!-- Cart -->
	{{#if cartNotEmpty}}

	<div class="cart_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cart_title">your shopping cart</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="cart_bar d-flex flex-row align-items-center justify-content-start">
						<div class="cart_bar_title_name">Product</div>
						<div class="cart_bar_title_content ml-auto">
							<div class="cart_bar_title_content_inner d-flex flex-row align-items-center justify-content-end">
								<div class="cart_bar_title_price">Price</div>
								<div class="cart_bar_title_price">Total Price</div>
								<div class="cart_bar_title_quantity">Quantity</div>
								
								<div class="cart_bar_title_button"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="cart_products">
						{{#each products}}
                        <ul>
							{{#isEqual this.stock 0}}
							<li class=" cart_product d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
								<!-- Product Image -->
								<div class="cart_product_image"><img style="width:100px ;height:100px ;" src="../product-images/{{../this.cartItems.imageMany.[0]}}" alt=""></div>
								<!-- Product Name -->
								<div class="cart_product_name"><a href="product.html">{{../this.cartItems.product}}</a></div>
								<div class="cart_product_info ml-auto">
									<div class="cart_product_info_inner d-flex flex-row align-items-center justify-content-md-end justify-content-start">
								    
									<div class="cart_product_info_inner d-flex flex-row align-items-center justify-content-md-end justify-content-start">

										<!-- Product Price -->
										<div class="cart_product_price" id="productSingle{{../this.cartItems._id}}">{{../this.cartItems.price}}</div>
									   <div class="cart_product_price total" id="productTotal{{../this.cartItems._id}}">{{../this.productPriceTotal}}</div>
										<!-- Product Quantity -->
										<div class="product_quantity_container">
											
										  <h6 style="color: red;">Out of Stock</h6>
										 
                                      </div>

										<!-- Products Total Price -->
										
										<!-- Product Cart Trash Button -->
										<div class="cart_product_button">
											<button class="cart_product_remove" onclick="deleteProduct('{{../this._id}}','{{../this.cartItems._id}}')" ><img src="images/trash.png" alt=""></button>
										</div>
                                      </div>
									</div>
								</div>
								<input type="text" placeholder="stock" id="stock{{../this.cartItems._id}}" value="{{../this.stock}}" readonly >
							</li>
							{{/isEqual}}
							{{#isGreater this.stock 0}}
							<li class=" cart_product d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
								<!-- Product Image -->
								<div class="cart_product_image"><img style="width:100px ;height:100px ;" src="../product-images/{{../this.cartItems.imageMany.[0]}}" alt=""></div>
								<!-- Product Name -->
								<div class="cart_product_name"><a href="product.html">{{../this.cartItems.product}}</a></div>
								<div class="cart_product_info ml-auto">
									<div class="cart_product_info_inner d-flex flex-row align-items-center justify-content-md-end justify-content-start">
								    
									<div class="cart_product_info_inner d-flex flex-row align-items-center justify-content-md-end justify-content-start">

										<!-- Product Price -->
										<div class="cart_product_price" id="productSingle{{../this.cartItems._id}}">{{../this.cartItems.price}}</div>
									   <div class="cart_product_price total" id="productTotal{{../this.cartItems._id}}">{{../this.productPriceTotal}}</div>
										<!-- Product Quantity -->
										<div class="product_quantity_container">
											<div class="product_quantity clearfix">
										<button style="width: 25px;" onclick="changeQuantity('{{../this._id}}','{{../this.cartItems._id}}','{{../../userID}}',-1)" class="cart-item-count  rounded ">-</button>


										<span class="p-2" id="{{../this.cartItems._id}}">{{../this.quantity}}</span>


										<button style="width: 25px;" onclick="changeQuantity('{{../this._id}}','{{../this.cartItems._id}}','{{../../userID}}',1)"class="cart-item-count  rounded">+</button>
                                         </div>
										 <div class="row pl-5" id="stock-message{{../this.cartItems._id}}" style="color: red;"></div>
                                      </div>

										<!-- Products Total Price -->
										
										<!-- Product Cart Trash Button -->
										<div class="cart_product_button">
											<button class="cart_product_remove" onclick="deleteProduct('{{../this._id}}','{{../this.cartItems._id}}')" ><img src="images/trash.png" alt=""></button>
										</div>
                                      </div>
									</div>
								</div>
								<input type="text" placeholder="stock" id="stock{{../this.cartItems._id}}" value="{{../this.stock}}" readonly >
							</li>
							{{/isGreater}}
						</ul>
                        {{/each}}
					</div>
				</div>
			</div>
			{{!-- <div class="row">
				<div class="col">
					<div class="cart_control_bar d-flex flex-md-row flex-column align-items-start justify-content-start">
						<button class="button_clear cart_button">clear cart</button>
						<button class="button_update cart_button">update cart</button>
						<button class="button_update cart_button_2 ml-md-auto">continue shopping</button>
					</div>
				</div>
			</div> --}}
			<div class="row cart_extra">
				<!-- Cart Coupon -->
				<div class="col-lg-6">
					<div class="cart_coupon">
						<div class="cart_title">coupon code</div>
						<form action="#" class="cart_coupon_form d-flex flex-row align-items-start justify-content-start" id="cart_coupon_form">
							<input type="text" class="cart_coupon_input" placeholder="Coupon code" required="required">
							<button class="button_clear cart_button_2">apply coupon</button>
						</form>
					</div>
				</div>
				<!-- Cart Total -->
				<div class="col-lg-5 offset-lg-1">
					<div class="cart_total">
						<div class="cart_title">cart total</div>
						<ul>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="cart_total_title">Subtotal</div>
								<div class="cart_total_price ml-auto">$35.00</div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="cart_total_title">Shipping</div>
								<div class="cart_total_price ml-auto">$5.00</div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="cart_total_title">Total</div>
								<div class="cart_total_price ml-auto"><span id="total">{{total}}</span></div>
							</li>
						</ul>
						{{!-- <button class="cart_total_button" onclick="validateStock()">proceed to checkout</button> --}}
						{{#unless outOfStock}}
						<button class="cart_total_button" onclick="checkCart()">proceed to checkout</button>
						{{/unless}}

						{{#if outOfStock}}
						<button class="cart_total_button" onclick="stockAlert()" >proceed to checkout</button>
						{{/if}}
						
						
					</div>
				</div>
			</div>
		</div>
	</div>

	{{/if}}

	{{#unless cartNotEmpty}}

	<div class="cart_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cart_title">your shopping cart</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="cart_bar d-flex flex-row align-items-center justify-content-start">
						<div class="cart_bar_title_name">Product</div>
						<div class="cart_bar_title_content ml-auto">
							<div class="cart_bar_title_content_inner d-flex flex-row align-items-center justify-content-end">
								<div class="cart_bar_title_price">Price</div>
								<div class="cart_bar_title_quantity">Quantity</div>
								
								<div class="cart_bar_title_button"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="cart_products">
						<h2 class="p-2">Your Cart Is Empty</h2>
					</div>
				</div>
			</div>
			{{!-- <div class="row">
				<div class="col">
					<div class="cart_control_bar d-flex flex-md-row flex-column align-items-start justify-content-start">
						<button class="button_clear cart_button">clear cart</button>
						<button class="button_update cart_button">update cart</button>
						<button class="button_update cart_button_2 ml-md-auto">continue shopping</button>
					</div>
				</div>
			</div> --}}
			<div class="row cart_extra">
				<!-- Cart Coupon -->
				<div class="col-lg-6">
					<div class="cart_coupon">
						<div class="cart_title">coupon code</div>
						<form action="#" class="cart_coupon_form d-flex flex-row align-items-start justify-content-start" id="cart_coupon_form">
							<input type="text" class="cart_coupon_input" placeholder="Coupon code" required="required">
							<button class="button_clear cart_button_2">apply coupon</button>
						</form>
					</div>
				</div>
				<!-- Cart Total -->
				<div class="col-lg-5 offset-lg-1">
					<div class="cart_total">
						<div class="cart_title">cart total</div>
						<ul>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="cart_total_title">Subtotal</div>
								<div class="cart_total_price ml-auto">$35.00</div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="cart_total_title">Shipping</div>
								<div class="cart_total_price ml-auto">$5.00</div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="cart_total_title">Total</div>
								<div class="cart_total_price ml-auto"><span id="total"></span></div>
							</li>
						</ul>
						<button class="cart_total_button" onclick="cartEmpty()">proceed to checkout</button>
						
						
					</div>
				</div>
			</div>
		</div>
	</div>

	{{/unless}}

	

	<!-- Newsletter -->

     <div class="container">
						<div class="row">
						<div class="col-lg-3">
						<div class="options_item d-flex flex-row align-items-center justify-content-start">
							<div class="option_image"><img src="images/option_1.png" alt=""></div>
							<div class="option_content">
								<div class="option_title">30 Days Returns</div>
								<div class="option_subtitle">No questions asked</div>
							</div>
						</div>
					</div>

					<!-- Options Item -->
					<div class="col-lg-3">
						<div class="options_item d-flex flex-row align-items-center justify-content-start">
							<div class="option_image"><img src="images/option_2.png" alt=""></div>
							<div class="option_content">
								<div class="option_title">Free Delivery</div>
								<div class="option_subtitle">On all orders</div>
							</div>
						</div>
					</div>

					<!-- Options Item -->
					<div class="col-lg-3">
						<div class="options_item d-flex flex-row align-items-center justify-content-start">
							<div class="option_image"><img src="images/option_3.png" alt=""></div>
							<div class="option_content">
								<div class="option_title">Secure Payments</div>
								<div class="option_subtitle">No need to worry</div>
							</div>
						</div>
					</div>

					<!-- Options Item -->
					<div class="col-lg-3">
						<div class="options_item d-flex flex-row align-items-center justify-content-start">
							<div class="option_image"><img src="images/option_4.png" alt=""></div>
							<div class="option_content">
								<div class="option_title">24/7 Support</div>
								<div class="option_subtitle">Just call us</div>
							</div>
						</div>
					</div>
					</div>
					</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="footer_logo"><a href="#">Loyal Paws</a></div>
					<nav class="footer_nav">
						<ul>
							<li><a href="index.html">home</a></li>
							<li><a href="categories.html">food</a></li>
							<li><a href="categories.html">accessories</a></li>
							<li><a href="categories.html">collars</a></li>
							<li><a href="contact.html">contact</a></li>
						</ul>
					</nav>
					<div class="footer_social">
						<ul>
							<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Loyal Paws 
				</div>
			</div>
		</div>
	</footer>
</div>

<script>
	function cartEmpty(){
		swal({
  title: "Oops!",
  text: "Your Cart is Empty!",
  icon: "warning",
  button: "OK",
});

	}

	function validateStock(prodID){
		
	}

	function stockAlert(){
				swal({
             title: "Alert!",
             text: "Please remove Out of Stock Products to checkout !",
             icon: "warning",
             button: "OK",
             });
	}

	function checkCart(products){
		$.ajax({
			url:'/verify-cart',
			method:'get',
			success:(response)=>{
				if(response.Reload){
					location.reload()
				}
				else if(response.noReload){
					location.href='/checkout'
				}
			}
		})
		
	}
	
</script>
