<link rel="stylesheet" type="text/css" href="../styles/checkout.css">
<link rel="stylesheet" type="text/css" href="../styles/checkout_responsive.css">
<div class="super_container"


	<!-- Home -->

	{{!-- <div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_container">
						<div class="home_content">
							<div class="home_title">Checkout</div>
							<div class="breadcrumbs">
								<ul>
									<li><a href="index.html">Home</a></li>
									<li><a href="index.html">Shopping Cart</a></li>
									<li>Shopping Cart</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> --}}

	<!-- Checkout -->

	<div class="checkout">
		<div class="container">
			<form action="#" id="checkout-form">
			<div class="row">

				<!-- Billing Details -->
				<div class="col-lg-6">
					<div class="billing">
						<div class="form-group">
							<label for="demo_overview">Add from Existing Address *</label>
							<select onchange="selectedAddress()"  id="address" class="form-control" data-role="select-dropdown" required>
								<!-- options -->
								<option selected value="{{this._id}}">Add from Existing Address</option>

								{{#each allAddress}}	
						
						         
								<option value="{{this._id}}">{{this.firstName}} {{this.lastName}}, {{this.mobile}}, {{this.address}}, {{this.town}}, {{this.pin}}</option>
								
								{{/each}}
								
								
								
							</select>
						</div>
						<div class="checkout_title">billing details</div>
						<div class="checkout_form_container">
							
								<div class="d-flex flex-lg-row flex-column align-items-start justify-content-between">
									<input type="text" id="first" name="fname" class="checkout_input checkout_input_50" placeholder="First Name" required="required">
									<input type="text" id="last" name="lname" class="checkout_input checkout_input_50" placeholder="Last Name" required="required">
								</div>
								
								{{!-- <input type="text" class="checkout_input" placeholder="E-mail" required="required"> --}}
								{{!-- <select name="country" id="country" class="country_select checkout_input">
									<option>India</option>
									<option>United Kingdom</option>
									<option>U.A.E</option>
								</select> --}}
								<input type="text" id="street" name="address" class="checkout_input" placeholder="Address" required="required">
								<input type="text" id="town" name="town" class="checkout_input" placeholder="Town" required="required">
								<div class="d-flex flex-lg-row flex-column align-items-start justify-content-between">
									<input type="text" id="pin" name="pin" class="checkout_input checkout_input_50" placeholder="Zipcode" required="required">
									<input type="text" id="mobile" name="mobile" class="checkout_input checkout_input_50" placeholder="Phone No" required="required">
								</div>
								<input type="text" name="userID" id="" value='{{useR}}' hidden >
								<textarea name="comment" id="checkout_comment" class="checkout_comment" placeholder="Leave a comment about your order"></textarea>
									
							
						</div>
					</div>
				</div>

				<!-- Cart Details -->
				<div class="col-lg-6">
					<div class="cart_details">
						<div class="checkout_title">cart total</div>
						<div class="cart_total">
							<ul>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Product</div>
									<div class="cart_total_price ml-auto">Total</div>
								</li>
								
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Subtotal</div>
									<div class="cart_total_price ml-auto">$35.00</div>
								</li>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Shipping</div>
									<div class="cart_total_price ml-auto">$5.00</div>
								</li>
								<li class="d-flex flex-row align-items-start justify-content-start total_row">
									<div class="cart_total_title">Total</div>
									<div class="cart_total_price ml-auto">{{total}}</div>
								</li>
							</ul>
						</div>

						<div class="payment">
							<p>Payment Method</p>
							<div class="cod">
								<label for="" class="radio-inline">
								<input type="radio" name="payment-method" value="COD" checked>COD
							</label>
							</div>
							<div class="online">
								<label for="" class="radio-inline mt-2">
								<input type="radio" name="payment-method" value="ONLINE" >RAZORPAY
							</label>
							</div>
							<div class="paypal">
								<label for="" class="radio-inline mt-2">
								<input type="radio" name="payment-method" value="PAYPAL" >PAYPAL
							</label>
							</div>
							<div class="visa payment_option"><a href=""><img src="images/visa.jpg" alt=""></a></div>
							<div class="master payment_option"><a href=""><img src="images/master.jpg" alt=""></a></div>
							<button class="cart_total_button">place order</button>
						</div>


					</div>
				</div>
			</div>
			</form>
		</div>
	</div>

	

	<!-- Newsletter -->

	

					<!-- Options Item -->
					<div class="container">
						<div class="row">
						<div class="col-lg-3">
						<div class="options_item d-flex flex-row align-items-center justify-content-start">
							<div class="option_image"><img src="images/option_1.png" alt=""></div>
							<div class="option_content">
								<div class="option_title">30 Days Returns</div>
								<div class="option_subtitle">No questions asked</div>
							</div>
						</div>
					</div>

					<!-- Options Item -->
					<div class="col-lg-3">
						<div class="options_item d-flex flex-row align-items-center justify-content-start">
							<div class="option_image"><img src="images/option_2.png" alt=""></div>
							<div class="option_content">
								<div class="option_title">Free Delivery</div>
								<div class="option_subtitle">On all orders</div>
							</div>
						</div>
					</div>

					<!-- Options Item -->
					<div class="col-lg-3">
						<div class="options_item d-flex flex-row align-items-center justify-content-start">
							<div class="option_image"><img src="images/option_3.png" alt=""></div>
							<div class="option_content">
								<div class="option_title">Secure Payments</div>
								<div class="option_subtitle">No need to worry</div>
							</div>
						</div>
					</div>

					<!-- Options Item -->
					<div class="col-lg-3">
						<div class="options_item d-flex flex-row align-items-center justify-content-start">
							<div class="option_image"><img src="images/option_4.png" alt=""></div>
							<div class="option_content">
								<div class="option_title">24/7 Support</div>
								<div class="option_subtitle">Just call us</div>
							</div>
						</div>
					</div>
					</div>
					</div>

				




<script>
	$('#checkout-form').submit((e)=>{
    e.preventDefault()
    $.ajax({
        url:'/checkout',
        method:'post',
        data:$('#checkout-form').serialize( ),
		success:(response)=>{
			alert(response)
			console.log(response,'checking....')

			if(response.codSuccess){
				location.href='/order-placed'
			}

			else if(response.paypalSuccess){
				console.log('checking. inner...')

				location.replace(response.linkto)
			}
			
			else{
				razorpayPayment(response)
			}
		}
    })
 })
//Razorpay
function razorpayPayment(order){
	
	
	var options = {
    "key": "rzp_test_bZDcL6JRT4zjki", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Paws India",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)

		verifyPayment(response,order)          //aftergetting these ids and signature pass it to ajax with order 

    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};

var rzp1 = new Razorpay(options);

rzp1.open();
}

function verifyPayment(payment,order){
	$.ajax({
		url:'/verify-payment',
		data:{
			payment,
			order
		},
		method:'post',
		success:(response)=>{
			if(response.status){
					location.href='/order-placed'
			}
			else{
				alert('Payment Failed')
			}
		}
	})
}

function selectedAddress(){
	let e = document.getElementById('address');
    let addressID = e.value;

	$.ajax({
		url: '/selected-address/'+addressID,
		
		method: 'get',
		success:(response)=>{
			document.getElementById('first').value = response.firstName,
			document.getElementById('last').value = response.lastName,
			document.getElementById('street').value = response.address
			document.getElementById('town').value = response.town
			document.getElementById('pin').value = response.pin
			document.getElementById('mobile').value = response.mobile
		}
	})

}


</script>

></div>