
<div class="section">


<div class="super_container">
	


	

	

	<!-- Banner-->
	<div class="row">
		<div class="container" style="margin-top: 4em;">
			<img src="images/dog and cat banner.jpg" alt="" class="w-100 h-100 mt-5">
		</div>
	</div>

	<!-- Promo -->
	

	<div class="promo">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_subtitle">only the best</div>
						<div class="section_title">categories</div>
					</div>
				</div>
			</div>
			<div class="row promo_container">

				<!-- Promo Item -->
				    {{!-- <section class="slider">
        <ul id="autoWidth" class="cs-hidden">
         
            <li class="item-a">
               
                <div class="box">
                 
                    <div class="slide-img">
                        <img alt="1" src="images/1.jpg">
                      
                        <div class="overlay">
                          
                            <a href="#" class="buy-btn">Buy Now</a>
                        </div>
                    </div>
                   
                    <div class="detail-box">
                        
                        <div class="type">
                            <a href="#">Rabbed Cardigan</a>
                            <span>Noe Arrival</span>
                        </div>
                      
                        <a href="#" class="price">$23</a>

                    </div>

                </div>
            </li>
		</ul>
			</section>
			 --}}

				{{#each category}}
				<div class="col-lg-4 promo_col p-2">
					<div class="promo_item">
						<div class="promo_image">
							<img style="height:300px ;" src="../category-images/{{this.image}}" alt="">
							<div class="promo_content promo_content_1 ">
								<div class="promo_title">{{this.category}}</div>
								<div class="promo_subtitle">{{this.categoryOffer}}%</div>
							</div>
						</div>
						<div class="promo_link"><a href="/category?name={{this.category}}">Shop Now</a></div>
					</div>
				</div>
				{{/each}}

				

			</div>
		</div>
	</div>

	<!-- New Arrivals -->

	<div class="arrivals">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_subtitle">only the best</div>
						<div class="section_title">new arrived products</div>
					</div>
				</div>
			</div>
			<div class="row products_container">

				<!-- Product -->
				
				{{#each prod_data}}
				<div class="col-lg-4 product_col mb-5">
					<a href="/viewproduct?id={{this._id}}">
						<div class="product w-100 ">
						<div class="product_image">
						<span class="badge badge-danger align-top" style="width: 4.5em; height: 4em; border-radius: 100%;padding-top: 1.5em;">{{this.productOffer}}% Off</span>
							<img style="height: 250px;" src="../product-images/{{this.imageMany.[0]}}" alt="">
						</div>
						<div class="rating rating_4">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<div class="product_content clearfix">
							<div class="product_info">
								<div class="product_name"><a href="product.html">{{this.product}}</a></div>
								<div class="product_price">RS. {{this.price}}</div>
							</div>
							<div class="product_options"><!-- replaced a tag with button for ajax -->
								<Button onclick="addToCart('{{this._id}}')"  class="btn"><div class="product_buy product_option"><img src="images/shopping-bag-white.svg" alt=""></div></Button>
							
								<Button onclick="addToWishList('{{this._id}}')" class="btn"><div class="product_fav product_option">&hearts;</div></Button>
								
							</div>
						</div>
					</div>
					</a>
				</div>
				{{/each}}

				<!-- Product -->
			

				<!-- Product -->
			

			</div>
		</div>
	</div>

	<!-- Bird Banner -->

	<div class="row">
		<div class="container">
			<img src="images/Bird deal banner.jpg" alt="" class="img-fluid">
		</div>
	</div>

	<!-- Gallery -->

	<div class="gallery">
		<div class="gallery_image" style="background-image:url(images/gallery.jpg)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="gallery_title text-center">
						<ul>
							<li><a href="#">#loyal</a></li>
							<li><a href="#">#loyal_paws</a></li>
							<li><a href="#">#loyal_friend</a></li>
						</ul>
					</div>
					<div class="gallery_text text-center">*Integer ut imperdiet erat. Quisque ultricies lectus tellus, eu tristique magna pharetra.</div>
					<div class="button gallery_button"><a href="#">submit</a></div>
				</div>
			</div>
		</div>	
		<div class="gallery_slider_container">
			
			<!-- Gallery Slider -->
			<div class="owl-carousel owl-theme gallery_slider">
				
				<!-- Gallery Item -->
				<div class="owl-item gallery_item">
					<a class="colorbox" href="images/gallery_1.jpg">
					
						<img src="images/gallery_1.jpg" alt="">
					</a>
				</div>

				<!-- Gallery Item -->
				<div class="owl-item gallery_item">
					<a class="colorbox" href="images/gallery_2.jpg">
						<img src="images/gallery_2.jpg" alt="">
					</a>
				</div>

				<!-- Gallery Item -->
				<div class="owl-item gallery_item">
					<a class="colorbox" href="images/gallery_3.jpg">
						<img src="images/gallery_3.jpg" alt="">
					</a>
				</div>

				<!-- Gallery Item -->
				<div class="owl-item gallery_item">
					<a class="colorbox" href="images/gallery_4.jpg">
						<img src="images/gallery_4.jpg" alt="">
					</a>
				</div>

				<!-- Gallery Item -->
				<div class="owl-item gallery_item">
					<a class="colorbox" href="images/gallery_5.jpg">
						<img src="images/gallery_5.jpg" alt="">
					</a>
				</div>

				<!-- Gallery Item -->
				<div class="owl-item gallery_item">
					<a class="colorbox" href="images/gallery_6.jpg">
						<img src="images/gallery_6.jpg" alt="">
					</a>
					
				</div>

			</div>
		</div>	
	</div>

	<!-- Testimonials -->

	{{!-- <div class="testimonials">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_subtitle">only the best</div>
						<div class="section_title">testimonials</div>
					</div>
				</div>
			</div>
			<div class="row test_slider_container">
				<div class="col">

					<!-- Testimonials Slider -->
					<div class="owl-carousel owl-theme test_slider text-center">

						<!-- Testimonial Item -->
						<div class="owl-item">
							<div class="test_text">“Integer ut imperdiet erat. Quisque ultricies lectus tellus, eu tristique magna pharetra nec. Fusce vel lorem libero. Integer ex mi, facilisis sed nisi ut, vestibulum ultrices nulla. Aliquam egestas tempor leo.”</div>
							<div class="test_content">
								<div class="test_image"><img src="images/testimonials.jpg" alt=""></div>
								<div class="test_name">Christinne Smith</div>
								<div class="test_title">client</div>
							</div>
						</div>

						<!-- Testimonial Item -->
						<div class="owl-item">
							<div class="test_text">“Integer ut imperdiet erat. Quisque ultricies lectus tellus, eu tristique magna pharetra nec. Fusce vel lorem libero. Integer ex mi, facilisis sed nisi ut, vestibulum ultrices nulla. Aliquam egestas tempor leo.”</div>
							<div class="test_content">
								<div class="test_image"><img src="images/testimonials.jpg" alt=""></div>
								<div class="test_name">Christinne Smith</div>
								<div class="test_title">client</div>
							</div>
						</div>

						<!-- Testimonial Item -->
						<div class="owl-item">
							<div class="test_text">“Integer ut imperdiet erat. Quisque ultricies lectus tellus, eu tristique magna pharetra nec. Fusce vel lorem libero. Integer ex mi, facilisis sed nisi ut, vestibulum ultrices nulla. Aliquam egestas tempor leo.”</div>
							<div class="test_content">
								<div class="test_image"><img src="images/testimonials.jpg" alt=""></div>
								<div class="test_name">Christinne Smith</div>
								<div class="test_title">client</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div> --}}

	<!-- Newsletter -->

	

	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="footer_logo"><a href="#">Loyal Paws</a></div>
					<nav class="footer_nav">
						<ul>
							<li><a href="index.html">home</a></li>
							<li><a href="categories.html">food</a></li>
							<li><a href="categories.html">accessories</a></li>
							<li><a href="categories.html">collars</a></li>
							<li><a href="contact.html">contact</a></li>
						</ul>
					</nav>
					<div class="footer_social">
						<ul>
							<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Loyal Paws 
				</div>
			</div>
		</div>
	</footer>
</div>
</div>

<script>
	function addToWishList(prodID) {
		swal({
			title: "Added to Wishlist!",
			icon: "success",
			button: "OK",
		});
		$.ajax({
			url: '/add-to-wishlist' + prodID,
			method: 'get',
			success: (response) => {
				if(response.status){
				swal("Item Added To Wishlist!", "Your Item has been added!", "success");
               let count = $('#wish-count').html()
               count = parseInt(count)+1
               $('#wish-count').html(count)
				}
			}
		})
	}
</script>
