<div class="container" style="margin-top: 10em;">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/" style="color: black;">Home</a></li>
            
              <li class="breadcrumb-item" aria-current="page">User Profile</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
          
          <form action="/user-profile" method="post" enctype="multipart/form-data">

            <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    
                    <img src="../user-images/{{userDetails.image}}" id="imgView" alt="Upload Picture" class="rounded-circle" width="135">

                        <input id="contentImg" type="file" class="form-control" name="image" onchange="viewImage(event)" style="display: none;">

                    <div class="mt-3">
                      <h4>{{userDetails.name}}</h4>
                      <p class="text-secondary mb-1">Loyal Paws</p>
                      {{!-- <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                      <button class="btn btn-primary">Follow</button> --}}
                      <a href="/user-address"> Add Address</a>
                    </div> 

                  </div>
                </div>
              </div>
             
            </div>

            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 p-2">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">

                          <input style="color: Black ;" name="name" value="{{userDetails.name}}" type="text" class="form-control" id="inputText" disabled>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 p-2">Email</h6>
                    </div>
                     <div class="col-sm-9 text-secondary">

                          <input style="color: Black ;" name="email" value="{{userDetails.email}}" type="text" class="form-control" id="inputText" disabled>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 p-2">Phone</h6>
                    </div>
                     <div class="col-sm-9 text-secondary">

                          <input style="color: Black ;" name="phone" value="{{userDetails.phone}}" type="text" class="form-control" id="inputText" disabled>
                    </div>
                  </div>
                  <hr>
                  {{!-- <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mobile</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      (320) 380-4539
                    </div>
                  </div>
                  <hr> --}}
                  {{!-- <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Bay Area, San Francisco, CA
                    </div>
                  </div> --}}
                  <hr>

                  <div class="row">
                    <div class="col-sm-12">
                      <button style="background-color: #937c6f;color: #ffff;" class="btn" type="button" id="edit" onclick="editUser()">Edit</button>
                      <button style="display: none; background-color: #937c6f;color: #ffff" id="update" class="btn" type="submit" onclick="updateUser()">Update</button>
                    </div>
                  </div>

                </div>
              </div>

              


            </div>
          </div>

          </form>

        </div>
    </div>

    <script>

        function  editUser(){
            document.querySelectorAll('#inputText').forEach((element) => { element.disabled = false; })
            document.getElementById('contentImg').style.display = 'block'
            document.getElementById('edit').style.display = 'none'
            document.getElementById('update').style.display = 'block'
        }

       
            function viewImage(event){
                document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
            }
         
    </script>