<link rel="stylesheet" type="text/css" href="../styles/wallet.css">
<div class="wrapper rounded">
    <nav class="navbar navbar-expand-lg navbar-dark dark d-lg-flex align-items-lg-start"> 
        <h3 class="text-dark pl-1">Your wallet amount is : <b style="color: #937c6f;"> &#8377;{{walletTotal}}</b> </h3>  
    
    </nav>
     

    <div class="d-flex justify-content-between align-items-center mt-3">
        <ul class="nav nav-tabs w-75" >
            <li class="nav-item"><button style="background-color:black; color:white;" id="hist" class="btn  mr-1" onclick="showHistory()">History</button> </li>
            <li class="nav-item"><button id="ref" class="btn" onclick="showReferral()">Referral Code</button> </li>
        </ul> 
        
    </div>
    <div style="display: block;" class="table-responsive mt-3" id="history">
        <table class="table table-light table-borderless">
            <thead>
                <tr>
                    <th scope="col">Activity</th>
                    <th scope="col">Mode</th>
                    <th scope="col">Date</th>
                    <th scope="col" class="text-right">Amount</th>
                </tr>
            </thead>
            <tbody>
                {{#each walletHistory}}
                <tr>
                    <td scope="row"> <span class="fa fa-exchange mr-1"></span> {{this.walletdetail}} </td>
                    <td><span >{{this.title}}</span></td>
                    <td class="text-muted">{{this.date}}</td>
                    <td class="d-flex justify-content-end align-items-center"> <span
                            class=" mr-1"></span> Rs.{{this.amount}} </td>
                </tr>
                {{/each}}
               
                {{!-- <tr>
                    <td scope="row"> <span class="fa fa-exchange mr-1"></span> Monthly Salary </td>
                    <td><span class="fa fa-cc-visa"></span></td>
                    <td class="text-muted">10 Jul 2020, 8:30 PM</td>
                    <td class="d-flex justify-content-end align-items-center"> <span
                            class=" mr-1"></span> $9,765.00 </td>
                </tr> --}}
             
               
            
            </tbody>
        </table>
    </div>
    <div  class="d-flex justify-content-between align-items-center results" > <span id="pagination" style="display: block;" class="pl-md-3">Showing<b
                class="text"> 1-7 0f 200 </b> trasactions</span>
        <div class="pt-3" id="next" style="display: block;">
           <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    {{#each pageNum}}
    <li class="page-item"><a href="/user-wallet-data?num={{this}}"><button  class="page-link" >{{this}}</button></a></li>

    {{/each}}
    
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
        </div>
    </div>

    <div class="row" id="referral" style="display: none;">
        <div class="col-md-12">
            <h4 class="mt-5">Share your referral code with your friends and get Rs 200 ! </h4>
             <p><h2>Your referral code is {{referralID}}</h2></p>
        </div>
    </div>
</div>


<script>
    function showReferral(){
        document.getElementById('ref').style.backgroundColor = 'black';
        document.getElementById('ref').style.color = 'white';
        document.getElementById('hist').style.backgroundColor = 'white';
        document.getElementById('hist').style.color = 'black';
        document.getElementById('history').style.display = 'none';
        document.getElementById('pagination').style.display = 'none';
        document.getElementById('next').style.display = 'none';
        document.getElementById('referral').style.display = 'block';
    }
    function showHistory(){
       document.getElementById('hist').style.backgroundColor = 'black';
        document.getElementById('hist').style.color = 'white';
        document.getElementById('ref').style.backgroundColor = 'white';
        document.getElementById('ref').style.color = 'black';
       document.getElementById('history').style.display = 'block';
        document.getElementById('pagination').style.display = 'block';
        document.getElementById('next').style.display = 'block';
        document.getElementById('referral').style.display = 'none'; 
    }
    function pagination(num){
       
        console.log(num,'pass digjit to get data')
        let limit = 5
        let skip = (num-1)*limit
        $.ajax({
            url:'/user-wallet-data/'+num,
            data:{
                pageNum : num,
                Tolimit : limit,
                Toskip : skip,
            },
            method:'post',
            success:(response)=>{
                location.href
            }
        })
    }
</script>